@font-face {
    font-family: 'Mont';
    src: url('../fonts/Mont-Bold.eot');
    src: local('Mont Bold'), local('Mont-Bold'),
    url('../fonts/Mont-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Mont-Bold.woff') format('woff'),
    url('../fonts/Mont-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('../fonts/Mont-HeavyItalic.eot');
    src: local('Mont Heavy Italic'), local('Mont-HeavyItalic'),
    url('../fonts/Mont-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Mont-HeavyItalic.woff') format('woff'),
    url('../fonts/Mont-HeavyItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Mont';
    src: url('../fonts/Mont-Heavy.eot');
    src: local('Mont Heavy'), local('Mont-Heavy'),
    url('../fonts/Mont-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Mont-Heavy.woff') format('woff'),
    url('../fonts/Mont-Heavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('../fonts/Mont-Black.eot');
    src: local('Mont Black'), local('Mont-Black'),
    url('../fonts/Mont-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Mont-Black.woff') format('woff'),
    url('../fonts/Mont-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('../fonts/Mont-SemiBold.eot');
    src: local('Mont SemiBold'), local('Mont-SemiBold'),
    url('../fonts/Mont-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Mont-SemiBold.woff') format('woff'),
    url('../fonts/Mont-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('../fonts/Mont-Regular.eot');
    src: local('Mont Regular'), local('Mont-Regular'),
    url('../fonts/Mont-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Mont-Regular.woff') format('woff'),
    url('../fonts/Mont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}